.inicialPage {
  padding-top: 74px;  
  margin-bottom: 30px;
  overflow: hidden;
}
.inicialPageContent {
  display: flex;
  margin: 80px 0px;
  padding: 0px 90px;
  gap: 50px;
  position: relative;
}
.inicialPageImagen, .inicialPageTexto {
  flex: 1;
} 
.inicialPageImagen {
    display: flex;
    justify-content: end;
} 
.inicialPageTexto {
    margin-right: 60px;
    flex: 1.3;
    position: relative;
} 
.valoresList {
    margin-top: 23px;
}
.valoresList li{
    margin: 7px 0px;
    font-weight: bold;
    font-size: 1.0625rem;
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--rojo);
}
.valoresList li svg {
    width: 20px;
    height: 20px;
}
.inicialPageImagen img {
  max-width:  450px;
  object-fit: cover;
  border-radius: 25px;
}
.contenedorPedagogica {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  row-gap:  30px;
}
.contamosCon {
  color: var(--rojo);
  font-size: clamp(1.5625rem, 5vw, 1.875rem);
  position: relative;
  display: inline-block;
  z-index: 2;
}
.cuadroAmarillo {
  background-color: var(--amarillo);
  width: 100%;
  height: 30px;
  position: absolute;
  z-index: 1;
}
.globosIP {
  position: absolute;
  width: 22%;
  right: 15%;
  bottom: 0;
}
.nubeIP {
  position: absolute;
  width: 13%;
  transform: rotate(-48deg);
  bottom: -40%;
  left: -3%;
  z-index: 3;
}
@media (max-width: 1270px){
  .nubeIP {
    display: none;
  }
}
@media (max-width: 1130px){
    .inicialPageContent {
      flex-direction: column;
      gap: 40px;
    }
    .inicialPageImagen {
      order: 2;
      justify-content: center;
    }
    .inicialPageTexto {
      margin-right: 0;
    }
}
@media (max-width: 650px){
    .inicialPageContent {
      padding: 0px 23px;
      margin-top: 70px;
    }
    
}