.custom-shape-divider-top-1703284337 {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-top-1703284337 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 48px;
}
.custom-shape-divider-top-1703284337 .shape-fill {
    fill: var(--blanco);
}
.custom-shape-divider-top-1703284337 .yellow{
    fill: var(--amarillo);
}

@media (max-width: 767px) {
    .custom-shape-divider-top-1703284337 svg {
     width: calc(139% + 1.3px); 
     height: 29px;
    }
}