.cajaNoticia {
    width: 305px;
    border-radius: 20px;
    box-shadow: 11px 12px 12px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 11px 12px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 12px 12px -1px rgba(0,0,0,0.75);
    max-height: 320px; 
    overflow: hidden;
    transition: max-height 1s ease;
}
.imagenNoticia {
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
}
.datosNoticia {
    padding: 15px;
}
.datosNoticia p {
    color: var(--rojo);
    font-weight: 600;
    font-size: 1.125rem;
    cursor: pointer;
}
.cajaNoticia:hover {
    max-height: 1000px;
}

