/* .custom-shape-divider-bottom-1703285273 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1703285273 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 48px;
}
.custom-shape-divider-bottom-1703285273 .shape-fill {
    fill: var(--blanco);
}

@media (max-width: 767px) {
    .custom-shape-divider-bottom-1703285273 svg {
        width: calc(148% + 1.3px);
        height: 29px;
    }
}  */








.custom-shape-divider-top-1703295367 {
    position: absolute;
    bottom: -37px; 
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1703295367 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 38px;
}

.custom-shape-divider-top-1703295367 .shape-fill {
    fill: var(--amarillo);
}
@media (max-width: 767px) {
    .custom-shape-divider-top-1703295367 {
        bottom: -28px;
    }
    .custom-shape-divider-top-1703295367 svg {
        width: calc(148% + 1.3px);
        height: 29px;
    }
} 
