.checkIcon {
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.checkIcon svg {
    width: 32px;
    height: 32px;
}
.propositoTitulo {
    font-size: 1.25rem;
    font-weight: 600;
}
.propositoText {
    font-weight: 200;
    line-height: 19px;
    color: rgb(70, 69, 69);
}
.checkAmarillo {
    color: var(--amarillo);
}
.checkCeleste {
    color: var(--celeste);
}