main {
    overflow: hidden;
}
.portada {
    background-color: var(--rojo);
    width: 100%;
    display: grid;
    grid-template: 1.5fr 1fr / 1fr 1fr;
    padding-top: 4.5rem;
    background-image: linear-gradient(to top, #ffffff,  var(--rojo), var(--rojo), var(--rojo), var(--rojo), var(--rojo))
}
/********************/

.contenedorHistoria, .contenedorNiveles, .verMasFotos {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nuestraHistoria, .compromiso, .contenedorNiveles h2, .contenedorFotos h2, .contenedorNoticias h2, .foto4 {
    position: relative;
}

.textoHistoria h2, .contenedorNiveles h2, .contenedorFotos h2, .contenedorNoticias h2  {
    color: var(--rojo);
    font-size: clamp(1.5625rem, 5vw, 1.875rem);
}

/********************/

.contenedorHistoria {
    width: 90%; 
    max-width: 67.5rem; 
    gap: 40px;
}
.imagenHistoria {
    width: 100%;
    flex: 1;
}
.imagenHistoria img{
   width: 100%;
   border-radius: 25px;
}
.textoHistoria {
    flex: 1.5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.textoHistoria h2 {
    font-weight: 800;
}
.textoHistoria p {
    margin: 10px 0px 20px 0px;
    line-height: 1.4em;
    max-width: 31.25rem;   
    z-index: 70; 
}
.nuestraHistoria, .compromiso {
    z-index: 20;
}
.edu {
    display: none;
}
.globo, .globo2, .globo3 {
    position: absolute;
}
.globo {
    right: 5%;
    bottom: 10%;
    width: 6%;
    max-width: 5.625rem;
}
.globo2 {
    right: 12%;
    bottom: -30%;
    z-index: 34;
    width: 10%;
    max-width: 8.125rem; 
}
.globo3 {
    left: 3%;
    top: -50%;
    width: 8%;
}


/******************/

.contenedorNiveles {
    flex-wrap: wrap;
    width: 60.3125rem;
    text-align: center;
}
.contenedorNiveles h2 {
    z-index: 1;
    margin-bottom: 15px;
}
.contenedorNiveles p {
    max-width: 46.25rem;
}

/*********************/

.contenedorFotos {
    width: 60.3125rem;
}
.contenedorFotos h2 {
    z-index: 1;
    display: inline-block;
    margin:0px 0px 15px 15px;
}
.fotos {
    height: 28.75rem;
    display: grid;
    grid-template: repeat(2,1fr) / repeat(4,1fr);
    gap: 15px;
}
.fotos div {
    border-radius: 20px;
    overflow: hidden;
}
.foto1 {
    grid-area: 1/1/3/3;
}
.foto2 {
    grid-area: 1/3/2/5;
}
.foto3 {
    grid-area: 2/3/3/4;
}
.foto4 {
    background-color: #B2DFF1;
    grid-area: 2/4/3/5;
}

.foto4 img {
    opacity: .35;
}
.verMasFotos {
    top: 1.5625rem;
    right: 1.5625rem;
    left: 1.5625rem;
    bottom: 1.5625rem;
    position: absolute;
    font-size: 3.75rem;
    padding-bottom: 20px;
    border-radius: 20px;
    border-style: dashed;
    border-width: 4px;
    color: var(--blanco);
}
.fotos img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/******************************/

.contenedorLlamanos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}
.contenedorLlamanos p {
    font-size: 1.4375rem;
    font-size: clamp(.9375rem, 4.9vw, 1.4375rem);
    font-weight: 700;
    line-height: 1.25rem;
}
.contenedorLlamanos p:first-child{
    color: var(--blanco);
}
.contenedorLlamanos p:nth-child(2n){
    margin-bottom: 15px;
}
.astronautaIcon {
    position: absolute;
    width: 10%;
    right: 17%;
    max-width: 9.375rem;
}
.coheteIcon {
    position: absolute;
    width: 8%;
    left: 17%;
    max-width: 9.375rem;
}

/********************************/

.contenedorNoticias {
    width: 60.3125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subContenedorN {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.contenedorNoticias h2 {
    display: inline-block;
    z-index: 1;
    margin: 0px 0px 15px 10px;
    align-self: start;
}
.verMasNoticias {
    color: var(--negro);
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 20px;
}
.verMasNoticias img {
    width: 30px;
}

@media (max-width: 1025px){
    .portada {
        display: flex;
        flex-wrap: wrap;
     }
    p {
        font-size: .9375rem;
    }
    .contenedorHistoria {
        display: block;
        text-align: center;
    }
    .imagenHistoria {
        max-width: 28.125rem;
        flex: 1;
        margin: auto;
    }
    .textoHistoria {
        padding-top: 10px;
        justify-content: center;
        flex-direction: column;
    }
    .globo2 {
        bottom: -20%;
    }
    
    .contenedorFotos {
        text-align: center;
    }
    .contenedorFotos h2{
        margin: 20px 0px 0px 0px;
    }
    .fotos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }
    .fotos div {
        margin-top: 23px;
        max-width: 24.375rem;
    }
    .foto4 {
        width: 100%;
    }
    .contenedorNoticias {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contenedorNoticias h2 {
        margin: 0px 0px 15px 0px;
    }
    .subContenedorN {
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 500px) {
    .comp {
        display: none;
    }
    .edu {
        color: var(--rojo);
        display: initial;
    }
}

@media (max-width: 376px){
.contenedorLlamanos p:first-child{
    text-align: center;
}
}