.containerNotificacion{
    position: absolute;
    z-index: 10;
    top: 35px;
    right: 0;
    padding: 10px 10px 10px 0px;
    color: #fff;
    margin-bottom: 10px;
    width: 400px;
    display: grid;
    grid-template-columns: 70px 1fr 70px;
    border-radius: 5px;
    --color: #0abf30;
    animation: show 0.3s ease 1 forwards;
    background-color: #fff;
    color: #121515;
    border-left: 5px solid var(--color);
    box-shadow: 10px 10px 5px 0px #121515;
    -webkit-box-shadow: 10px 10px 5px 0px #121515;
    -moz-box-shadow: 10px 10px 5px 0px #121515;
}
.containerNotificacion .iconNotificacion{
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.containerNotificacion .title{
    font-weight: bold;
    font-size: 20px;
}
.containerNotificacion span, .containerNotificacion .iconNotificacion:nth-child(3){
    opacity: 0.6;
    color: #22242F;
}
.contentNotificacion {
    line-height: 25px;
}
.iconNotificacion{
   display: flex;
   justify-content: center;
   align-items: center;
}
.iconNotificacion svg{
    width: 30px;
    height: 30px;
}
@keyframes show{
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-5%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10%);
    }
}
.containerNotificacion::before{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color);
    width: 100%;
    height: 3.5px;
    content: '';
    animation: timeOut 4s linear 1 forwards
}
@keyframes timeOut{
    to{
        width: 0;
    }
}
.containerNotificacion.error{
    --color: #f24d4c;
}
.containerNotificacion.warning{
    --color: #e9bd0c;
}
.containerNotificacion.info{
    --color: #3498db;
}