.unploadFileContainer {
  background-color: #303338;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  z-index: 2;
}
.btnUploadFile {
  background-color: var(--rojo);
  width: 100%;
  padding: 10px 0px;
  color: #e8e7e7;
  font-weight: 600;
  margin-top: 10px;
  font-family: 'Baloo 2', sans-serif;
  cursor: pointer;
}
.unploadFileContainer svg {
    width: 100px;
    height: 100px;
    margin: 32px;
}
.unploadFileContainer span {
    color: #c6c6c6;
}
.unploadFileContainer::before {
    content: '';
    width: 95%;
    height: 95%;
    position: absolute;
    border: 2px dashed #949494;
    z-index: -1;
}
.dragEnter {
  border: 2px solid white;
  transition: border, transform  .3s ease-in-out;
  transform: scale(1.1);
}
.dragEnter .fileImage {
  z-index: -2;
}
.dragEnter .btnUploadFile {
    opacity: .5;
}
.dragEnter::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border: 3px dashed #949494;
    z-index: -1;
}
