.waves, .olasSVG2 {
  min-height: 100px;
  max-height: 150px;
  width: 100%;
  height: 10vh;
  position: absolute;
}
.waves {
  top: -15px;
  background-color: var(--rojo);
  }
  .olasSVG2 {
  bottom: -100px;
  transform: rotate(180deg);
  
}



  
  .parallax, .olasSVG2 > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  
  .parallax, .olasSVG2 > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  
  .parallax, .olasSVG2 > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  
  .parallax, .olasSVG2 > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  
  .parallax, .olasSVG2 > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 19s;
  }

  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
  
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  
 
  @media (max-width: 768px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }
  }
/* .waves {
    position: absolute;
    top: -15px;
    width: 100%;
    height: 10vh;
    min-height: 100px;
    max-height: 150px;
    background-color: var(--rojo);
  }
  .olasSVG2 {
    min-height: 100px;
    max-height: 150px;
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom: -100px;
    transform: rotate(180deg);
}

  
  .parallax, .olasSVG2 > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  
  .parallax, .olasSVG2 > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  
  .parallax, .olasSVG2 > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  
  .parallax, .olasSVG2 > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  
  .parallax, .olasSVG2 > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 19s;
  }

  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
  
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  
 
  @media (max-width: 768px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }
  } */
