.cajaNoticia {
    width: 305px;
}
.imagenNoticia {
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
}
.cajaNoticia p {
    color: var(--celeste);
    margin: 7px 0px;
    font-weight: 600;
}
.cajaNoticia h3 {
    color: var(--rojo);
}
.verMasNoticias {
    color: var(--negro);
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 12px;
}
.verMasNoticias img {
    width: 30px;
}
