/* .divCaja {
    width: 100%;
   
    position: relative;
  z-index: 19;
  background-color: #1fcd0f;
}
.cajaa2 {
    padding: 100px;
}
 .custom-shape-divider-top-1703278672 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1703278672 svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 69px;
}

.custom-shape-divider-top-1703278672 .shape-fill {
    fill: #CD0F0F;
}


@media (max-width: 767px) {
    .custom-shape-divider-top-1703278672 svg {
        width: calc(139% + 1.3px);
        height: 29px;
    }
}  */


/* 
.custom-shape-divider-bottom-1703283106 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1703283106 svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 69px;
}

.custom-shape-divider-bottom-1703283106 .shape-fill {
    fill: #CD0F0F;
}


@media (max-width: 767px) {
    .custom-shape-divider-bottom-1703283106 svg {
        width: calc(139% + 1.3px);
        height: 29px;
    }
} */