.componenteSeccion {
    width: 100%;
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: var(--blanco); 
}
.stylesHistoria {
    margin-top: 6.25rem;
    position: relative;
}
.stylesNiveles {
    background-color: var(--amarillo);
    background-image: url('../../assets/iconos/fondoAmarillo.svg');
    background-position-x: 50%;
    background-position-y: 50%;
  
}
.stylesLlamanos {
    background-color: var(--rojo);
    background-image: url('../../assets/iconos/onda.svg');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 35%;
    background-size: 57%;
    position: relative;
}
.wavesStyles {
    position: relative;
    padding: 88px 0px;
}
.stylesMisionYVision {
    margin-top: 243px;
    margin-bottom: 15px;
    background-color: var(--amarillo);
    padding: 40px 0px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    z-index: 10;
}
.stylesInicialPage {
   padding: 30px 0px;
   padding-bottom: 0;
   background-color: var(--amarillo);
   display: flex;
   flex-direction: column;
   gap: 26px;
}
.stylesPrimariaPage {
   padding: 50px 0px 50px 0px;
   background-color: var(--amarillo);
   background-image: url('../../assets/iconos/lineas.svg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position-y: 50% ;
   display: flex;
   gap: 90px;
   flex-wrap: wrap;
   position: relative;
   z-index: 3;
}
.stylesMetodologiaPage {
    background-color: var(--amarillo);
    background-image: url('../../assets/iconos/manchaAmarilla.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: 30%;
    background-position-y: 100%;
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    padding: 50px 0px 25px 0px;
}
@media (max-width: 1025px) {
    .componenteSeccion {
        padding: 25px 23px;
    }
    .wavesStyles {
        position: relative;
        padding: 50px 23px;
    }
}
@media (max-width: 925px) {
    .stylesLlamanos {
    background-size: 65%;
    }
    .stylesNiveles {
    background-size: 100%;
    background-position-x: 10%;
    background-position-y: 10%;
    }
}
@media (max-width: 920px) {
    .stylesMisionYVision {
        margin-top: 55px;
        gap: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media (max-width: 825px) {
    .stylesLlamanos {
    background-size: 155%;
    }
    .stylesNiveles {
    background-size: 110%;
    background-repeat: no-repeat;
    background-position-y: 0%;
    }
    .stylesInicialPage {
        padding-top: 20px;
        padding-bottom: 0;
    }
    .stylesPrimariaPage {
        gap: 60px;
     }
    .stylesMetodologiaPage {
        gap: 40px;
    }
}
