.galeriaPage {
    padding-top: 74px;  
    margin-bottom: 30px;
    overflow: hidden;
    background-image: url('../../assets/iconos/fondoGaleria.svg');
    background-position-y: 45%;
    background-size: 100%;
}
.contenedorGaleria {
    margin: 50px 0px;
    padding: 0px 20px;
    margin-top: 70px;
}
.contenedorGaleria h2 {
    margin: 40px 0px;
    color: var(--negro);
    text-align: center;
    font-size: clamp(1.5625rem, 5vw, 1.875rem);
}
.galeriaContent {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 23px;
    max-width: 1280px
}
.imagenItem {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    height: auto;   
    position: relative;
    transition: all ease .4s;
}
.imagenItem img {
    max-width: 100%;
    height: auto;
}
.imagenItem::before {
  content: url('../../assets/iconos/lupaIcon.svg');
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--celeste);
  position: absolute;
  opacity: 0;
  transition: all ease .4s;
}
.imagenItem:hover::before{
    opacity: 0.9;
    cursor: pointer;
}
.imagenItem:hover{
    transform: scale(1.09);
    z-index: 3;
}   

@media (max-width: 923px ) {
    .contenedorGaleria {
        margin-top: 50px;
    }
    .imagenItem {
      border-radius: 7px;
    }
}