.contenedorPortadaI {
    grid-area: 1/1/2/3;
    display: flex;
    width: 100%;
    padding: 20px 0px;
}
.cajaTitulos, .cajaImagen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    flex: 1;
}
.cajaTitulos {
    width: 100%;
    flex-direction: column;
}
.cajaImagen {
    background-color: var(--rojo);
}
.bienvenidos {
    background-color: var(--negro);
    color: var(--blanco);
    font-weight: 600;
    padding: 4px 23px;
    font-size: clamp(.780rem, 1.4vw, 1rem);
    border-radius: 8px;
    text-align: center;
    max-width: 28.75rem;
    position: relative;
}
.educando {
    text-align: center;
    color: var(--blanco);
    font-size: clamp(2.0625rem, 4.5vw, 3.75rem);
    font-weight: 800;
    line-height: 100%;
    padding: 20px 0px 10px 0px;
    position: relative;
    z-index: 600;
}
.educando span {
    color: var(--negro);
}
.imagen {
    width: 60%;
    display: flex;
    align-items: center;
}
.imagen img {
    width: 100%;
}
.svgMundo, .svgMundo2, .manchaRojaIcon, .estrellaIcon, .estrellaIcon3{
    position:  absolute;
}
.svgMundo {
    width: clamp(.625rem, 6vw, 5.8125rem);
    top: 25%;
    right: -3%;
}
.svgMundo, .svgMundo2, .estrellaIcon, .estrellaIcon3{
    animation: girar 20s infinite linear;
}
.svgMundo2 {
    width: clamp(.625rem, 5vw, 5rem);
    bottom: 3%;
    right: 15%;
}
.manchaRojaIcon {
    right: -3.125rem;
    bottom: -4.0625rem;
    width: clamp(6.875rem, 11vw, 11.5625rem);
    -webkit-mask-image: linear-gradient(to bottom, black, transparent 43%);
    mask-image: linear-gradient (to bottom, black, transparent 43%);
}
.manchaRojaIcon2 {
    left: 1.5625rem;
    bottom: -50px;
    transform: rotate(20deg);
}
.rayaIcon {
    width: clamp(2.5rem, 4vw, 3.9375rem);
}
.estrellaIcon {
    width: clamp(1.25rem, 2vw, 3.125rem);
    top: 0;
    right: 30%;
}
.estrellaIcon2{
    width: clamp(.8125rem, 1.3vw, 3.125rem);
    top: 3%;
    right: 20%;
}
.estrellaIcon3{  
    width: clamp(.8125rem, 1.3vw, 3.125rem);
    left: 35%;
    bottom: 5%;
}
.estrellaIcon4{ 
    left: 5%;
    top: 45%;
}
.estrellaIcon5 {
    top: 50%;
    left: 5%;
}
@keyframes girar {
    0% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media (max-width: 1025px) {
    .contenedorPortadaI {
    display: block;
    }
    .cajaTitulos,  .cajaImagen {
    padding: 15px;  
    }
    .manchaRojaIcon, .manchaRojaIcon2 {
        display: none;
    }
    .svgMundo2 {
        left: 15%;
    }
    .estrellaIcon {
        top: 0;
        right: 0;
    }
    .estrellaIcon2{
        right: 20%;
    }
    
}
@media (max-width: 415px) {
    .imagen {
        width: 75%;
    }
    .estrellaIcon3, .estrellaIcon4{  
      display: none;
    }
}