footer {
    background-color: var(--negro);
    color: var(--blanco);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 95px;
}

.informacionFooter {
    max-width: 1105px;
    display: flex;
    padding-bottom: 35px;
    gap: 15px;
}
.imagenInsigniaC {
   max-width: 4.0625rem;
}
.informacionFooter ul {
    flex: 1;
}
.informacionFooter ul li:not(.enlacesRapido li) {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.enlacesRapido h3{
    margin-bottom: 20px;
}
.informacionFooter ul li img {
    width: 2.1875rem;
}
.contactos li:last-child img {
    transform: rotate(-45deg);
}
.gatoIcon {
    display: flex;
    align-items: end;
    justify-content: center;
}
.gatoIcon img {
    width: 6.875rem;
}
.tresEstrellasIcon {
    display: flex;
    align-items: start;
    justify-content: center;
}
.tresEstrellasIcon img {
    width: 6.875rem;
}
.derechos {
    width: 100%;
    font-size: .875rem;
    text-align: center;
    background-color: #393434;
    position: relative;
    padding: 28px 0px 10px 0px;
}


.custom-shape-divider-top-1703296992 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1703296992 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 38px;
}

.custom-shape-divider-top-1703296992 .shape-fill {
    fill: var(--negro);
}



@media (max-width: 1025px) {
    footer {
        padding-top: 0;
    }
    .informacionFooter {
        display: block;
        position: relative;
        padding: 35px 0px 0px 0px;
    }
    .derechos {
        padding: 23px 0px 10px 0px;
    }
    .informacionFooter ul {
        padding: 23px;
    }
    .gatoIcon {
        position: absolute;
        top: 14.375rem;
        right: 0;
    }
    .tresEstrellasIcon {
        position: absolute;
        bottom: 6.25rem;
        right: 0;
    }
    
}
@media (max-width: 767px) {
    .custom-shape-divider-top-1703296992 svg {
     width: calc(180% + 1.3px); 
     height: 29px;
    }
    
}